<li>
    <% if c.defendant.present? then %>
    <h3><%= link_to c.defendant.full_name, case_path(c) %></h3>
    <% end %>
    <p>
        <%= c.recommended_outcome.nil? ? "" : "Recommendation: #{c.recommended_outcome.name}," %>
        <%= c.decided_outcome.nil? ? "" : "Decision: #{c.decided_outcome.name}" %>
    </p>
    <ul class="details">
        <li><%= c.date_initiated.nil? ? "" : c.date_initiated.to_formatted_s(:long) %></li>
        <li>Case <%= c.number %></li>
        <li><%= c.length_of_process.nil? ? "" : "Length of process: #{c.length_of_process}" %></li>
        <% if c.search_text %>
            <br>
            <li> <%= c.search_text.html_safe %></li>
        <% end %>
    </ul>
</li>
