<% title "Admin users" %>
<% body_id "admin-users-index" %>

<div class="content-box">

<h1>Users</h1>
<%= link_to "Add user test", new_user_path, :class => "action"  %>

<br />
<br />
<br />
<table id="users-list">
	<thead>
	<tr>
		<th>Email</th>
		<th>Last sign in</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<% @users = User.all %>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td><%= user.last_sign_in_at %></td>
			<td><%= link_to 'x', user_path(user.id), method: :delete %></td>
		</tr>
	<% end %>
	</tbody>
</table>
</div>

<%= javascript_include_tag "//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "users" %>
