<% title "Home" %>
<% body_id "home" %>
<!--%= javascript_include_tag "//code.jquery.com/jquery-3.6.0.min.js"%-->
<!--%= javascript_include_tag "//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" %-->
<!--%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"%-->

<div class="content-box">
  <h1>Case outcomes</h1>
  <p>How does the superintendent's recommended discipline compare to the final police board's judgement?</p>

  <table class="bar-chart" id="case-outcomes">
    <thead>
      <tr>
        <th></th>
        <th width="35%">Recommendation <i class="fa fa-long-arrow-right"></i> Decision <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i></th>
        <th width="10%" align="right">Cases <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i></th>
        <th width="15%" align="right">Annual trend</th>
        <th width="40%"></th>
      </tr>
    </thead>
    <tbody>
      <% @case_outcomes.each do |outcomes, count| %>
      <tr>
        <td><%= count %></td>
        <td><%= Outcome.find(outcomes[0]).name %> <i class="fa fa-long-arrow-right"></i> <%= Outcome.find(outcomes[1]).name %></td>
        <td align="right"><%= count %> <span class="mute">(<%= (count.to_f / @cases.count * 100).round %>%)</span></td>
        <td><span class="inlinesparkline"><%= Case.count_per_year_for_outcome(outcomes[0], outcomes[1]).join(',') %></span></td>
        <td><div class="value" style="width: <%= (count.to_f / @cases.count * 100).round %>%"></div></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render partial: "board/list", locals: { board_members: @board_members, title: '<h1>Board member voting history</h1>', table_id: 'board-list' } %>




<%= javascript_pack_tag "board-members-voting-history" %>
<%= javascript_pack_tag "home" %>
