<li>
	<%= f.hidden_field :_destroy %>
	
	<span class="board-member-votes-name">
    	<%= link_to "#", class: "remove_fields" do %>
    		<i class="fa fa-times"></i>x
    	<% end %>
    	<%= f.object.board_member.full_name %>
	</span>
	
	<span class="board-member-votes-options">
    	<%= f.collection_radio_buttons :vote_id, Vote.all, :id, :name %>
	</span>
	
	<div class="dissent-detail">
		<p><%= f.label :dissent_description, "Reason for dissent" %></p>
		<%= f.text_area :dissent_description, class: "dissent-description txt" %>
	</div>
</li>