<li class="fields board-member-votes-fields">
	<%= f.hidden_field :_destroy %>

	<div class="board-selection" style="display:none;">
		<span class="label">Add a board member</span>
        <p><%= f.object.board_member_id %></p>
        <%= f.collection_select :board_member_id, @activeMembersAtTime, :id, :full_name %>
	</div>git 
	
	<span class="board-member-votes-name">
    <span class="mute">(<%= link_to "Remove", "#", class: "remove_fields" %>)</span> 
    <%= f.object.board_member ? f.object.board_member.full_name : "" %>
	</span>
	
	<span class="board-member-votes-options">
    	<%= f.collection_radio_buttons :vote_id, Vote.all, :id, :name %>
	</span>
	
	<div class="dissent-detail">
		<p><%= f.label :dissent_description, "Reason for dissent" %></p>
		<%= f.text_area :dissent_description, class: "dissent-description txt" %>
	</div>
</li>
