<li class="fields case-rule-count-fields case-rule-count">
	<p class="violated-rules-options">
    	<span class="mute">(<%= link_to "Remove", "#", class: "remove_fields" %>)</span>
		Count <%= f.object.count_order %>: 
		<label><%= f.radio_button :is_guilty, :false %>Not guilty</label>
		<label><%= f.radio_button :is_guilty, :true %>Guilty</label>
		<label><%= f.radio_button :is_guilty, "null" %>Not available</label>
	</p>
	<p class="violated-rules-desc"><%= f.text_area :content, :class => "txt" %></p>
	<%= f.hidden_field :_destroy %>
</li>