<h1>Case details</h1>
<%= form_for [:extranet, @case] do |f| %>  
    <ol class="form">
        <li class="form-row">
            <div class="form-label"><%= f.label :number, "Case number" %></div>
            <div class="form-field"><%= f.text_field :number, autofocus: true, :class => "txt-med" %></div>
        </li>
        <%= f.fields_for :defendant do |builder| %>
            <%= render "defendant_fields", :f => builder %>
        <% end %>
    </ol>
    
    <hr />
    
    <h2>Case summary</h2>
    
    <ol class="form">
        <li class="form-row">
            <div class="form-label"><%= f.label :date_initiated, "Time frame" %></div>
            <div class="form-field">
                <div class="field-single-line fields-date-range">
                    <p class="field-range-start"><%= f.date_field :date_initiated, :class => "txt" %></p>
                    <p class="field-range-end"><%= f.date_field :date_decided, :class => "txt" %></p>
                </div>
            </div>
        </li>
        <li class="form-row">
            <div class="form-label"><%= f.label :recommended_outcome_id, "Recommended discipline" %></div>
            <div class="form-field"><%= f.collection_select :recommended_outcome_id, Outcome.all, :id, :name %></div>
        </li>
        <li class="form-row">
            <div class="form-label"><%= f.label :decided_outcome_id, "Final decision" %></div>
            <div class="form-field"><%= f.collection_select :decided_outcome_id, Outcome.all, :id, :name %></div>
        </li>
    </ol>
    
    <hr />
    
    <h2>Rule violations</h2>
    
    <ol class="form">
        <li class="form-row">
            <div class="form-label">Violated rules</div>
            <div class="form-field">
	            <ul class="violated-rules">
	                <%= f.fields_for :case_rules do |builder| %>
	                    <%= render "case_rule_fields", :f => builder %>
	                <% end %>
					<p><%= link_to_add_fields "Add violated rule", f, :case_rules %></p>
	            </ul>
            </div>
        </li>
    </ol>
    
    <hr />
    
    <h2>Board member voting</h2>
    <ol class="form">
    	<li class="form-row">
    		<div class="form-label">Board members</div>
    		<div class="form-field">
	    		<ul class="board-member-votes">
	    			<%= f.fields_for :board_member_votes do |builder| %>
	    				<%= render "board_member_vote_fields", :f => builder %>
	    			<% end %>
	    		</ul>
    		</div>
    	</li>
    </ol>
    <hr />
    
    <ol class="form">
        <li class="form-row">
            <div class="form-field">
                <%= f.submit "Save", :class => "action" %> <%= link_to "Cancel", extranet_cases_path %>
            </div>
        </li>
    </ol>
<% end %>