<%= form_for [:extranet, @case] do |f| %>

  <h1>Add new case</h1>
  <div class="field">
    <%= f.label :number, "Case number" %>
    <%= f.text_field :number, autofocus: true %>
  </div>

  <%= f.fields_for :defendant do |builder| %>
  	<%= render "form_defendant", :f => builder %>
  <% end %>  
  

  <hr />
  <h2>Case summary</h2>
  <div class="field">
    <%= f.label :date_initiated, "Time frame" %><br />
    <%= f.date_field :date_initiated %>
	    <%= f.date_field :date_decided%>
  </div>
  <div class="field">
    <%= f.label :recommended_outcome_id, "Recommended discipline" %><br />
    <%= f.collection_select :recommended_outcome_id, Outcome.all, :id, :name %>
  </div>
  
  <div class="field">
    <%= f.label :decided_outcome_id, "Final decision" %><br />
    <%= f.collection_select :decided_outcome_id, Outcome.all, :id, :name %>
  </div>
    
   <hr />
     
   <h2>Rule violations</h2>
   <p>Violated rules</p>
   <ul>
     <%= f.fields_for :case_rules do |case_rule_form| %>
		<%= render "form_case_rules", :case_rule_form => case_rule_form %>
     <% end %>
   </ul>
   
   <div class="actions">
     <%= f.submit "Submit" %>
   </div>
  
<% end %>