<%= form_for [:extranet, @case] do |f| %>

  <h1>Add new case</h1>
  <div class="field">
    <%= f.label :number, "Case number" %>
    <%= f.text_field :number, autofocus: true %>
  </div>

  <%= f.fields_for :defendant do |builder| %>
  	<%= render "form_defendant", :f => builder %>
  <% end %>  
  

  <hr />
  <h2>Case summary</h2>
  <div class="field">
    <%= f.label :date_initiated, "Time frame" %><br />
    <%= f.date_field :date_initiated %>
	    <%= f.date_field :date_decided%>
  </div>
  <div class="field">
    <%= f.label :recommended_outcome_id, "Recommended discipline" %><br />
    <%= f.collection_select :recommended_outcome_id, Outcome.all, :id, :name %>
  </div>
  
  <div class="field">
    <%= f.label :decided_outcome_id, "Final decision" %><br />
    <%= f.collection_select :decided_outcome_id, Outcome.all, :id, :name %>
  </div>
    
   <hr />
   
   <!-- 
   <%= @case.case_rules.each do |case_rule|  %>
	  	<li>
	  	  Rule <%= case_rule.rule.code%>
	  	  <%= f.fields_for :case_rules, case_rule do |case_rule_form|%>
	  	  
	  	  <% end %>
	  	</li>
	  <% end %>
	  
	  -->
     
   <h2>Rule violations</h2>
   <p>Violated rules</p>
   <ul>
     <%= f.fields_for :case_rules do |case_rule_form| %>
		<li class="case-rule-fields">  
		  <p>Rule <%= case_rule_form.object.rule.code %>(<%= case_rule_form.object.case_rule_counts.count() %> counts): <%= case_rule_form.object.rule.description %></p>
	  	<%= case_rule_form.check_box :_destroy %>
	  	<%= case_rule_form.label :_destroy, "Remove" %>
		  
		  <ul class="case-rule-counts">
		  <%= case_rule_form.fields_for :case_rule_counts, case_rule_form.object.case_rule_counts.order(:count_order) do |rule_count_form| %>
		  	<li class="case-rule-count-fields">
		  		<p>
			  		Count <%= rule_count_form.object.count_order %>: 
					<%= rule_count_form.radio_button :is_guilty, :false %>Not guilty
					<%= rule_count_form.radio_button :is_guilty, :true %>Guilty
					<%= rule_count_form.radio_button :is_guilty, "null" %>Not available
					
			  	</p>
			  	
			  	<%= rule_count_form.text_area :content %>
			  	<%= rule_count_form.check_box :_destroy %>
			  	<%= rule_count_form.label :_detroy, "Remove" %>
			  	
		  	</li>
		  <% end %>
		  </ul>		  
		
		</li>
     <% end %>
   </ul>
   
   <div class="actions">
     <%= f.submit "Submit" %>
   </div>
  
<% end %>