<div class="content-box">
    <% title "Cases" %>
    
    <h1>Cases</h1>
    
    <p><%= link_to "Add a new case", [:new, :extranet, :case] %></p>
    <table>
      <tr>
      	<th>Case #</th>
      	<th>Name</th>
      	<th>Judgement date</th>
      	<th>Outcome</th>
      	<th>Last modified</th>
      	<th></th>
      </tr>
      <% @cases.each do |c|  %>
      	<tr>
      		<td><%= link_to c.number, [:edit, :extranet, c] %></td>
      		<td><%= c.defendant.present? ? c.defendant.full_name : '' %></td>
      		<td><%= c.date_decided %></td>
      		<td><%= c.decided_outcome.present? ? c.decided_outcome.name : '' %></td>
      		<td><%= c.updated_at %></td>
      		<td><%= link_to "x", [:extranet, c], :confirm => 'Are you sure?', :method => :delete %> </td>
      	</tr>
      <% end %>
    </table>
</div>