<div class="content-box">
    <% title "Cases" %>
    
    <h1>Cases</h1>
    
    <p><%= link_to "Add case", [:new, :extranet, :case], :class => "action" %></p>
    
    <table>
        <thead>
            <tr>
                <th><%= sort_link("number", "Case #") %></th>
                <th><%= sort_link("defendants.first_name", "Name") %></th>
                <th><%= sort_link("date_decided", "Judgement date") %></th>
                <th><%= sort_link("outcomes.name", "Outcome") %></th>
                <th><%= sort_link("updated_at", "Last modified") %></th>
                <th><%= sort_link("id", "Last created") %></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @cases.each do |c|  %>
                <tr>
                    <td><%= link_to c.number, [:edit, :extranet, c] %></td>
                    <td><%= c.defendant.present? ? c.defendant.full_name : '' %></td>
                    <td><%= c.date_decided %></td>
                    <td><%= c.decided_outcome.present? ? c.decided_outcome.name : '' %></td>
                    <td><%= c.updated_at %></td>
                    <td><%= c.created_at %></td>
                    <td><%= link_to "X", [:extranet, c], :confirm => 'Are you sure?', :method => :delete, :title => "Delete" %> </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>