<% title "Rules of conduct" %>
<% body_id "rules-index" %>

<div class="content-box">
  <h1>Rules of conduct</h1>

  <p>From the <em><a href="http://www.cityofchicago.org/dam/city/depts/cpb/PoliceDiscipline/RulesofConduct.pdf">Rules and Regulations of the Chicago Police Department</a></em> adopted and published by the Police Board.</p>

  <table id="rules-list">
    <thead>
      <tr>
        <th>Hidden rule #</th>
        <th class="nb">Rule <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i></th>
        <th>Description <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i></th>
        <th class="nb">Cases <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i></th>
        <th>Hidden cases</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.code %></td>
        <td class="nb"><strong>Rule <%= rule.code %></strong></td>
        <td>
            <p><%= raw(rule.description) %>
            <% if rule.comment %>
              <a class="toggle-special-comment" href=""><i class="fa fa-comment-o"></i> <span class="verb">Show</span> special comment</a></p>
              <p style="display: none;"><%= raw(rule.comment) %></p>
            <% else %>
              </p>
            <% end %>
        </td>
        <% cases = CaseRule.where(rule_id: rule.id).count %>
        <td class="nb"><%= cases %> (<%= (cases.to_f / Case.count * 100).round %>%)</td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_include_tag "//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "rules" %>
