<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) + " - " : "" %>Chicago Police Board</title>

  <!-- Info -->
  <%= csrf_meta_tags %>
  <meta name="author" content="Chicago Justice Project">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=yes, width=device-width">
  <meta name="apple-mobile-web-app-title" content="CPBIC">

  <!-- Fav icon -->
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type:'image/png' %>

  <!-- Scripts -->
  <%= javascript_include_tag 'application' %>

  <!-- Styles -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body id=<%= yield (:body_id) %>>
<div id="wrapper">
  <!-- Header -->
    <div id="header">
        <div class="content">
            <div id="logo">
                <a href="/" id="logo-img">
                    <img alt="Chicago Police Board Information Center" id="logo-full" src="../assets/logo.png" />
                    <img alt="Chicago Police Board Information Center" id="logo-reverse" src="../assets/logo-reverse.png" />
                </a>
                <span id="logo-tagline">From the <a href="http://www.chicagojustice.org">Chicago Justice Project</a>, dedicated to bringing transparency to Chicago's justice system.</span>
            </div>

            <!-- Navigation -->
            <div id="nav">
                        <ul>
                            <li class="current"><a href="/"><i class="fa fa-home" title="Home"></i></a></li>
                            <li class=""><a href="/cases">Cases</a></li>
                            <li class=""><a href="/board">Board</a></li>
                            <li class=""><a href="/rules">Rules</a></li>
                            <li class=""><a href="/about">About</a></li>
                            <li class=""><a href="/feedback">Feedback</a></li>
                            <li>
                                <div class="search" style="display: none;">
                                    <form accept-charset="UTF-8" action="/cases" method="get"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>
                                        <input class="txt" id="search" name="search" placeholder="Search cases..." type="text" />
                                        <button class="action" name="button" type="submit">
                                         <i class="fa fa-search"></i>
</button></form>                                </div>
                                <a href="#" id="search-toggle"><i class="fa fa-search" title="Search cases"></i></a>
                            </li>
                        </ul>
                    </div>
            <!-- /Navigation -->
        </div>
    </div>
    <!-- /Header -->
  

  <% if current_page?(root_path) %>
    <%= render 'layouts/home_intro' %>
  <% end %>

  <div id="main">
    <div class="content">
      <%= yield %>
    </div>
  </div>

  <!-- Footer -->
    <div id="footer">
        <div class="content">
            <div class="disclaimer">
                    <p class="mute">It is important to understand the cases detailed here are a significant minority of the total complaints filed against officers. A typical year sees about 3&ndash;5% of complaints against officers result in a sustained finding of misconduct. A very small percentage of those sustained findings result in discipline that would require the police board to get involved. The data used for this website is taken directly from Police Board documents. The documents were obtained through the Illinois Freedom of Information act. All the documents used as the basis of this website are available for download from the individual case pages. The Chicago Justice Project is an independent transparency organization and is not affiliated in any way with the Chicago Police Board or any other justice agency in Chicago or Cook County.</p>
            </div>
            <h6>Chicago Police Board Information Center</h6>
            <p>From the <a href="http://www.chicagojustice.org">Chicago Justice Project</a>, dedicated to bringing transparency to Chicago's justice system.</p>
        </div>
    </div>
    <!-- /Footer -->
  <!-- Analytics footer !-->
  <%= render 'layouts/footer' %>

</body>
</html>
